.custom-pagination{

}

.custom-pagination > .reactable-current-page {
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}

.custom-pagination > a:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.custom-pagination > a:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-right-width: 1px;
} 

.custom-pagination > a {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    color: $blue;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    border-right-width: 0px;
}